query.max-memory-per-node={{getv "/px/configproperties/querymaxmemorypernode"}}
query.max-memory={{getv "/px/configproperties/querymaxmemory"}}
query.max-total-memory={{getv "/px/configproperties/querymaxtotalmemory"}}
memory.heap-headroom-per-node={{getv "/px/configproperties/memoryheapheadroompernode"}}
