query.max-memory-per-node={{getv "/pxvar/querymaxmemorypernode"}}
query.max-total-memory-per-node={{getv "/pxvar/querymaxtotalmemorypernode"}}
query.max-memory={{getv "/pxvar/querymaxmemory"}}
query.max-total-memory={{getv "/pxvar/querymaxtotalmemory"}}
